@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
.router-navbar{
    display: flex;
    justify-content: center;
    margin: 10px
}
.identificator-user{
    padding: 10px;
    font-family: "Comfortaa", sans-serif;
}
.router-outlet{
    width: 100%;
}
.btn-warning{
    transform: scale(1,1);
    transition: .6s all;
}
.btn-warning:hover{
    transform: scale(1.05,1.05);
    transition: .6s all;
    background-color: brown;
    color: whitesmoke;
}
@media screen and (max-width: 650px){
    .router-navbar{
        display: block!important;
    }
}