<div class="div-father">
    <h2>Actualizar tu contraseña</h2>
    <form [formGroup]="formChangePassword" (ngSubmit)="updatePassword()">
        <label for="currentPassword">Tu contraseña actual</label>
        <input type="password" name="currentPassword" id="currentPassword" name="currentPassword" formControlName="currentPassword" class="form-control" placeholder="Contraseña actual">
        <label for="newPassword">Tu nueva contraseña</label>
        <input type="password" name="newPassword" id="newPassword" name="newPassword" formControlName="newPassword" class="form-control" placeholder="Tu nueva contraseña">
        <label for="newPassword">Repite tu nueva contraseña</label>
        <input type="password" name="confirmNewPassword" id="confirmNewPassword" name="confirmNewPassword" formControlName="confirmNewPassword" class="form-control" placeholder="Repite tu nueva contraseña">
        <input type="submit" value="Actualizar contraseña" class="btn btn-info mt-2"> 
    </form>
    <div *ngIf="messageSuccessfully && !messageForIncorrectCurrentPassword" class="alert alert-success mt-2" role="alert">
        {{messageSuccessfully}}
    </div>
    <div *ngIf="!messageSuccessfully && messageForIncorrectCurrentPassword" class="alert alert-danger mt-2" role="alert">
        {{messageForIncorrectCurrentPassword}}
    </div>
</div>