.navbar {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url("../../assets/imgs/_ca9b9520-bc91-4ac9-946a-a157a39ecdcf.jpeg");
    box-shadow: 1px 1px 9px 1px black;
}

.nav-link {
    color: white !important;
}

.active {
    font-weight: bolder;
}

.navbar-brand {
    width: 15%;
    padding: 30px 0px 47px 0px;
    background-image: url("../../assets/imgs/logo.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
@media screen and (max-width: 1146px) {
    .navbar-brand{
        width: 20% ;
    }
}
@media screen and (max-width: 865px){
    .navbar-brand{
        width: 25%;
    }
}
@media screen and (max-width: 717px){
    .navbar-brand{
        width: 30%;
    }
}
@media screen and (max-width:606px) {
    .navbar-brand{
        width: 35%;
    }
}
@media screen and (max-width:521px){
    .navbar-brand{
        width: 40%;
    }
}
@media screen and (max-width:463px){
    .navbar-brand{
        width: 45%;
    }
}
@media screen and (max-width:418px) {
    .navbar-brand{
        width: 50%;
    }
}
@media screen and (max-width:373px) {
    .navbar-brand{
        width: 60%;
    }
}