<div class="navbar-component">
    <li><a routerLink="/dashboard/{{userId}}/add-client" routerLinkActive="active" ><i class="fa-solid fa-user-plus"></i>Añadir cliente</a></li>
    <li><a routerLink="/dashboard/{{userId}}/clients"><i class="fa-solid fa-user-group"></i>Lista de clientes</a></li>
    <li><a routerLink="/dashboard/{{userId}}/add-reform"><i class="fa-solid fa-gear"></i>Agregar registro a cliente</a></li>
    <li><a routerLink="/dashboard/{{userId}}/add-reform"><i class="fa-solid fa-arrows-rotate"></i>Actualizar datos de un cliente</a></li>
</div>