.clients-length-1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    padding: 6px;
    grid-gap: 2.5rem;
}
.card{
    background: linear-gradient(to right, rgba(255, 255, 0, 0.9), rgba(193, 207, 5, 0.8)), url("../../../assets/imgs/_1ef3e09d-f5f2-4950-858d-d69ea14302a6.jpeg");
    background-size: cover;
    transform: scale(1,1);
    transition: 0.5s;
}
.card:hover{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../../../assets/imgs/_1ef3e09d-f5f2-4950-858d-d69ea14302a6.jpeg");
    color: #ffde19;
    transition: 0.5s;
    transform: scale(1.05,1.05);
    box-shadow: 0px 0px 12px 1px gray;
}
.div-father{
    background: linear-gradient(to right, lightgray, gray);
    height: 100%;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}
a{
    font-size: 0.8rem;
}
.card-km, .card-vehicle{
    margin: 0%;
}