<section class="section-update-client p-1">
    <h2>Actualiza los datos de {{clientData.name}} en los siguientes campos.</h2>
    <div class="div-update-client">
        <form [formGroup]="formClient" (ngSubmit)="updateData()">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Ingresa el nombre del cliente."
                formControlName="name">
            <label for="lastname" class="form-label">Apellido</label>
            <input type="text" name="lastname" class="form-control" id="lastname"
                placeholder="Ingresa el apellido del cliente." formControlName="lastname">
            <label for="patentVehicle" class="form-label">Patente del vehículo</label>
            <input type="text" name="patentVehicle" id="patentVehicle" class="form-control"
                placeholder="Ingresa la patente del vehículo" formControlName="patentVehicle">
            <label for="address" class="form-label">Dirección</label>
            <input type="text" name="address" placeholder="Ingresa la dirección." class="form-control" id="address"
                formControlName="address">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="text" name="phone" placeholder="Ingresa el teléfono." class="form-control" id="phone"
                formControlName="phone">
            <label for="vehicle-brand">Ingresa la marca del vehículo</label>
            <input type="text" name="vehicleBrand" placeholder="Ingresa el fabricante del vehículo. Ej. 'Renault'."
                id="vehicle-brand" class="form-control" formControlName="vehicleBrand">
            <label for="vehicle-model">Ingresa el modelo del vehículo</label>
            <input type="text" name="vehicleModel" placeholder="Ingresa el modelo del vehículo. Ej. 'Sandero'."
                id="vehicle-model" class="form-control" formControlName="vehicleModel">
            <label for="mileage" class="form-label">Kilometraje del vehículo</label>
            <input type="number" class="form-control" name="mileage" formControlName="mileage" id="mileage">
            <button type="submit" class="btn btn-info mt-2">Actualizar los datos</button>
        </form>
        @if(formClient){
        <div class="valid-feedback">
            {{messageSuccessfully}}
        </div>
        }
    </div>
</section>