.section-update-client {
    border: 1px solid black;
    background-color: rgb(230, 230, 230);
}
.div-update-client {
    padding: 0.5rem;
}
.div-description, .div-order{
    display: block;
    width: 50%;
}
input {
    background-color: #ffde19;
}