.div-father{
    background: linear-gradient(to right, lightgray, whitesmoke);
    height: 100%;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}
.update-password-button{
    margin-top: 0.8rem;
}